:root {
	--color-start: rgba(255, 175, 75, 1);
	--color-end: rgba(208, 64, 17, 1);
}

.photo-preview {
	width: 100%;
	max-width: 45rem;
	padding: 1rem;
	background: var(--color-start);
	background: -moz-linear-gradient(
		left,
		var(--color-start) 0%,
		var(--color-end) 100%
	);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, var(--color-start)),
		color-stop(100%, var(--color-end))
	);
	background: -webkit-linear-gradient(
		left,
		var(--color-start) 0%,
		var(--color-end) 100%
	);
	background: -o-linear-gradient(
		left,
		var(--color-start) 0%,
		var(--color-end) 100%
	);
	background: -ms-linear-gradient(
		left,
		var(--color-start) 0%,
		var(--color-end) 100%
	);
	background: linear-gradient(
		to right,
		var(--color-start) 0%,
		var(--color-end) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#d04011', GradientType=1 );
	margin: 1rem auto 2rem auto;
	display: block;
}
